    b {
        color: red;
    }
    li {
        color: blue;
    }
    body {
        background-color: rgb(255, 255, 247);
    }
    body h1{
        text-align: center;
    }
    body li{
    text-align: center;
    }
    body h1{
        text-align: center;
    }
    p{
        text-align: center;
    }